# Переменные для общего docker-compose
# Auth DB
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres
AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_PORT=5436

# Tasks DB
TASKS_POSTGRES_USER=postgres
TASKS_POSTGRES_PASSWORD=postgres
TASKS_POSTGRES_DB=tasks_db
TASKS_POSTGRES_PORT=5435

# Redis
REDIS_PORT=6379
